* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef;
      font-family: "Poppins", sans-serif;
}

.mdc-wr {
    max-width: 400px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    /* padding: 15px 0; */
  -webkit-box-shadow: -1px 5px 10px 2px #cccccc; 
  box-shadow: -1px 5px 10px 2px #cccccc;
  background: #fff;
}
 
/* Template Button Style */
.template-buttons {
    text-align: center;
    padding: 20px 15px;
}

.template-buttons h2 {
    margin-bottom: 15px;
}

.template-buttons-wr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.template-button {
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    width: calc(33% - 6px);
}

.template-button:hover {
  -webkit-box-shadow: -1px 5px 5px 2px #ececec; 
  box-shadow: -1px 5px 5px 2px #ececec;
  color: #ff0000;
  border-color: #ff0000;
}