* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #000;
    background-image: url(../images/background-image.jpg);
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.mdc-wr {
    max-width: 400px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.card-design {
  min-height: 300px;
}

.profile-info {
  text-align: center;
  padding: 175px 20px 20px 20px;
}

.profile-name {
    margin-bottom: 12px;
    line-height: 1;
}

.profile-tag-line,
.profile-position {
    color: #fff;
    margin-bottom: 0;
}

.social-icons {
    background-color: #fff;
    border-radius: 25px;
    min-height: 45px;
    margin:  0 auto 20px auto;
    font-size: 30px;
    padding: 0 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-icons a {
    color: #000000;
    text-decoration: none;
    display: inline-flex;
}

.social-icons a:hover {
    color: #ff0000;
}

.profile-description {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
}

.full-width {
    max-width: 100%;
}

/* Contact Card Styles */
.contact-card {
    width: 100%;
    font-size: 10px;
    background: #fff;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.03);
    max-width: 166px;
}

.card-icon {
    font-size:30px;
    background: #ff0000;
    color: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 15px;
}

.card-heading {
    color: #9c9c9c;
}

.card-link {
    color: #000;
    text-decoration: none;
}

.contact-details {
    padding: 40px 15px;
    display: flex;
    gap:38px;
    align-items: start;
    flex-wrap: wrap;
}

.card-pin-icon {
    margin-left: auto;
    margin-right: auto;
}

/* Hour Styles */
.opening-hours {
    min-height: auto;
    padding: 15px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
}

.opening-hours span {
    padding: 10px 0;
    border-radius: 8px;
    display:inline-block;
    width: 22.9%;
    font-size: 12px;
    text-align: center;
}


/* Medical Store Styles */
.profile-tag-line {
    margin-bottom: 20px;
    color: #fff;
}

.our-opening-hours,
.our-facilities {
    padding-top: 15px;
}

.our-opening-hours h2,
.our-facilities h2 {
    text-align: center;
}

.facilites-cards-wr {
    padding: 15px;
}

.facilities-card {
    display: flex;
    align-items: start;
    gap: 15px;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
}

.facilities-card a {
    display:inline-block;
}

.facilities-card .card-icon {
    background: #00ff00;
    height: 25px;
    width: 25px;
    font-size: 12px;
    margin: 0;
}

.footer-style {
    font-size: 12px;
    padding: 15px;
    text-align: center;
}

.contact-number {
    color: #db0a0a; 
    font-size: 40px;
    border: 3px solid #db0a0a;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.contact-number:hover {
    background: #db0a0a; 
    color: #fff; 
}

.contact-number i {
    font-size: 45px;
}

.bg-overlay {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}

.contact-card2 {
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 30px 10px 10px 10px;
    margin-top: 30px;
}

.contact-card2 a {
    color: #000;
    display:inline-block;
    text-decoration: none;
    font-size: 16px;
}

.contact-card2 .ph-phone {
    font-size: 26px;
    background: red;
    border-radius: 100%;
    padding: 10px;
    color: #fff;
    position: absolute;
    left: calc(50% - 23px);
    top: -23px;
}
 